
/*Css for mainDisplay desktop */
.mainDisplay {
    width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.idNavpadWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Css for mainDisplay mobile */
.mainDisplay.mobile {
    width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.idNavpadWrapper.mobile {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
