.searchBarContainer {
    position: absolute;
    z-index: 1;
    top: .5rem;
    bottom: .5rem;
    
    width: 90%;
    max-height: 30rem;
    min-height: 15rem;
    overflow: hidden;
}

.searchBarInput {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    height: 1.5rem;
    padding: 1rem;

    font-size: 1.2rem;
    color: #E7E7E7;

    background-color: #212121;
    border: 1px solid #171717;
    border-radius: 1rem;
}

.searchBarResultList {
    position: absolute;
    top: 2.4rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;

    overflow-y: auto;
    overflow-x: hidden;
    background-color: #272727B3;
}

@media screen and (max-width: 36rem) {
    .searchBarInput {
        height: 0.8rem;
        padding: 0.8rem;
        font-size: 3vw;
    }
}

@media screen and (max-width: 54rem) {
    .searchBarInput {
        font-size: 2vw;
    }
}