*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-image: url('https://www.transparenttextures.com/patterns/hexellence.png'); */
  /* border: 1px solid wheat; */
}

body {
  font-family: 'Rubik';
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
