*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik";
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* SCROLLBAR STYLING */

body ::-webkit-scrollbar {
	width: 1rem;
	height: 80%;
}

body ::-webkit-scrollbar-thumb {
	background-color: #e7e7e7;
	border-radius: 1rem;
	border: solid -1rem #212121;
}

body ::-webkit-scrollbar-track-piece {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.082);
	background-color: #21212175;
	border-radius: 1rem;
}
body ::-webkit-scrollbar-track-piece:end {
	margin-bottom: 0.5rem;
}
body ::-webkit-scrollbar-track-piece:start {
	margin-top: 0.2rem;
}

/* -- -- -- */
.teamMember:nth-child(2n) {
	transform: translateY(50%);
}

.teamWrapper :nth-child(2n) {
	flex-direction: row-reverse;
}
.teamWrapper :nth-child(2n) p {
	text-align: left !important;
}
.teamWrapper :nth-child(2n) button {
	left: 0;
}
.removeButton:nth-child(2n) {
	right: 0;
}

.navBtn{
	height: 6rem;
	margin:.5rem;
	padding:1rem;

	background: #3333;
	border-radius: .5rem;
}

@media (max-width: 680px) {
	.teamMember {
		height: 7rem !important;
		background: #3333 !important;
	}
	.teamMember div {
		margin: 0 !important;
		padding: 0 !important;
	}
	.teamMember div img {
		margin: 0 !important;
		padding: 0 !important;
	}
	.teamMember:nth-child(2n) {
		transform: translateY(0%);
	}
	.teamMember:nth-child(n) {
		flex-direction: column;
	}
	.teamMember:nth-child(n) img {
		height: 10vh;
	}
	.teamWrapper :nth-child(n) p {
		font-size: 1rem !important;
	}

	h2 {
		font-size: 1.2rem;
		margin:.2rem;
	}
	hr {
		font-size: 1.2rem;
		margin:.2rem;
	}

	.navBtn {
		height: 4rem;
	}
}
